<div ng-init="init()" data-ng-form="appParamsForm" ng-class="{'submitted': submitted}" data-ng-submit="save()">
    <div class="row" align="center">
        <div class="input-group col-md-10 noMarginLR mt-20">
            <span class="input-group-addon spanWidth">Host: </span>
            <input id="host" type="text" class="form-control"
                   ng-value="originalAppParams.host" ng-model="host" name="host">
        </div>
        <div class="input-group col-md-10 noMarginLR mt-20" >
            <span class="input-group-addon spanWidth">Port: </span>
            <input id="port" type="text" class="form-control" ng-value="originalAppParams.port"
                   ng-model="port" name="port" ng-pattern="portInput" ng-class="{'submitted': submitted}">
        </div>
        <div class="input-group col-md-10 noMarginLR mt-20">
            <span class="input-group-addon spanWidth">From: </span>
            <input id="from" type="text" class="form-control" ng-value="originalAppParams.from" ng-pattern="emailFormat"
                   ng-model="from" name="from">
        </div>
        <div class="input-group col-md-10 toLeft mt-20">
            Debug:
            <i class="fa fa-toggle-on active" ng-if="originalAppParams.debug == true"
               ng-click="changeDebugStatus();"></i>
            <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="originalAppParams.debug == false"
               ng-click="changeDebugStatus();"></i>
        </div>
        <div class="input-group col-md-10 toLeft mt-20">
            Auth:
            <i class="fa fa-toggle-on active" ng-if="originalAppParams.auth == true" ng-click="changeAuthStatus();"></i>
            <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="originalAppParams.auth == false"
               ng-click="changeAuthStatus();"></i>
        </div>
    </div>
    <div align="right" class="mb-20 mt-20 marginR">
        <div style="display: inline">
            <button type="button" class="btn btn-primary" data-ng-click="cancel()">Close</button>
        </div>
        <div style="display: inline">
<!--            <button type="button" class="btn btn-success" data-ng-click="save()">Save</button>-->
            <button type="submit" class="btn btn-success" ng-click="submitted= true; save();">Save</button>
        </div>
    </div>
</div>