<div class="container text-center borderBox" style="width: 70%" data-ng-controller="StatisticsController" data-ng-init="init()">

    <h2 class="text-center">{{sectionTitles[0]}}</h2>
    <div class="text-center">
        <h3 class="toLeft">{{sectionTitles[1]}}</h3>
        <p class="toLeft" ng-if="activeSessions.length ===0">No active sessions at the moment</p>
        <table class="table table-bordered mt-20 "  ng-if="activeSessions.length !==0">
            <thead>
            <tr>
                <th scope="col" class="centerHeader">{{tableHeaders[0]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[1]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[2]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[3]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[4]}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="session in activeSessions">
                <td scope="col"></td>
                <td scope="col">{{session.sessionName}}</td>
                <td scope="col">
                    {{formatEndDate(session.endDate)}}
                </td>
                <td scope="col">{{session.participantList.length}}</td>
                <td scope="col">
                    <div class="btn-group" uib-dropdown keyboard-nav>
                        <button type="button" class="btn setActionButton" uib-dropdown-toggle>
                            Options <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem"><a ng-click="openModal(session.participantList)">See participants</a></li>
                            <li class="divider"></li>
                            <li role="menuitem">
                                <a ng-click="setInactive(session.sessionName)" uib-tooltip="{{deactivateTooltip}}">Deactivate session</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <h3 class="toLeft">{{sectionTitles[2]}}</h3>
        <p class="toLeft" ng-if="inactiveSessions.length ===0">No inactive sessions at the moment</p>
        <table class="table table-bordered mt-20" ng-if="inactiveSessions.length !==0">
            <thead>
            <tr>
                <th scope="col" class="centerHeader">{{tableHeaders[0]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[1]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[2]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[3]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[4]}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="session in inactiveSessions">
                <td scope="col"></td>
                <td scope="col">{{session.sessionName}}</td>
                <td scope="col">
                    {{formatEndDate(session.endDate)}}
                </td>
                <td scope="col">{{session.participantList.length}}</td>
                <td scope="col">
                    <div class="btn-group" uib-dropdown keyboard-nav>
                        <button type="button" class="btn setActionButton" uib-dropdown-toggle>
                            Options <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem"><a ng-click="openModal(session.participantList)">See participants</a></li>
                            <li class="divider"></li>
                            <li role="menuitem">
                                <a ng-click="setActive(session.sessionName)" uib-tooltip="{{activateTooltip}}">Activate session</a></li>
                            <li role="menuitem"><a ng-click="delete(session.id)">Remove session</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <h3 class="toLeft">{{sectionTitles[3]}}</h3>
        <p class="toLeft" ng-if="finishedSessions.length ===0">No finished sessions to display</p>
        <table class="table table-bordered mt-20" ng-if="finishedSessions.length !==0">
            <thead>
            <tr>
                <th scope="col" class="centerHeader">{{tableHeaders[0]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[1]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[2]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[3]}}</th>
                <th scope="col" class="centerHeader">{{tableHeaders[4]}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="session in finishedSessions">
                <td scope="col"></td>
                <td scope="col">{{session.sessionName}}</td>
                <td scope="col">
                    {{formatEndDate(session.endDate)}}
                </td>
                <td scope="col">{{session.participantList.length}}</td>
                <td scope="col">
                    <div class="btn-group" uib-dropdown keyboard-nav>
                        <button type="button" class="btn setActionButton" uib-dropdown-toggle>
                            Options <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem"><a ng-click="openModal(session.participantList)">See participants</a></li>
                            <li role="menuitem"><a ng-click="delete(session.id)">Remove session</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row text-center mt-20 mb-20 toLeft marginL10">
        <button type="submit" class="btn btn-primary" ng-click="goBackToWelcomePage()">
            Go back
        </button>
    </div>

</div>






