.modalSize20 {
    width: 20%;
}

.modalSize70{
    width: 70%;
}

.marginR25 {
    margin-right: 25px;
}

.margins25 {
    margin-left: 25px;
    margin-right: 25px;
}

.marginL10{
    margin-left: 10px;
}

.active, .inactive {
    font-size: 46px;
    cursor: pointer;
}

.active, .inactive {
    font-size: 46px;
    cursor: pointer;
}

i.active {
    color: #5cb85c;
}

i.inactive {
    color: #ba4844;
}

.submitted .ng-invalid{
    border: 1px solid #ba4844;
}

.red {
    color: #ba4844;
}

.width50{
    width: 50px;
}
