div.my {
    border: 1cm;
    border-color: #2b542c;
}

.toRight {
    text-align: right;
    padding-right: 0px
}

.toLeft {
    text-align: left;
    padding-right: 0px
}

.centerHeader {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-20 {
    margin-bottom: 20px;
}

.strike {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.has-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.borderBox {
    margin-top: 20px;
    border: #bbbbbb solid;
    background-color: #f9f9f9
}

.questionBox {
    width: 50%;
    border: 1px #bbbbbb solid;
    background-color: #f9f9f9
}

.editQuestionsButton {
    background: darkgrey;
    border: darkgray;
    margin-bottom: 10px;
    margin-right: 20px;
}

.redInfo {
    color: #d13a3a;
}

.createButton {
    background: #74b760;
    color: #f9f9f9;
}

.setActionButton {
    background: #c5c0b3;
    border: #c2bdaf;
    color: #1E1E1E;
}

.divsmall {
    width: 70%;
    text-align: center;
    margin-left: 230px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #f9f9f9 !important;

}

.tooltip .tooltip-inner {
    color: white;
    background-color: #000000;
    border-radius: 15px;
    position: relative;
    top: 35px;
    left: 90%;
    text-align: left;
}

.tableCenter {
    text-align: center;
}






