.setStatusButton{
background: #9a9588;
    border:#9a9588;
}

/*Jesli bym chciała dodać te switche to można aktywować */

/*i.active {*/
/*    color: #5cb85c;*/
/*    font-size:35px;*/
/*    cursor:pointer;*/
/*}*/
/*i.inactive {color: #b7b4b5; font-size:35px;cursor:pointer;}*/