<div class="container text-center">
    <div class="jumbotron">
        <h2 class="display-4">Welcome in feedback session manager</h2>
        <p class="lead"> You can create new feedback session or check statistics for ongoing and past editions. </p>
        <hr class="my-4">
        <p>Let's start!</p>
        <p class="lead">
            <button type="submit" class="btn createButton" ng-click="redirectToCreateSession()">Create session</button>
            <button type="button" class="btn btn-primary" ng-click="redirectToStatistics()">See all sessions</button>
            <button type="button" class="btn btn-primary" ng-click="">Users manager</button>
            <button type="button" class="btn btn-primary" ng-click="">Application parameters</button>
        </p>
    </div>
</div>