<div class="container text-center">
    <div class="jumbotron">
        <h2 class="display-4">Welcome in feedback session app!</h2>
        <p class="lead"> Create feedback sessions, collect feedback from co-workers and distribute it when all is finished! </p>
        <hr class="my-4">
        <p>Let's start!</p>
        <p class="lead">
            <button type="submit" class="btn createButton" ng-click="redirectToCreateSession()">Create session</button>
            <button type="button" class="btn btn-primary" ng-click="redirectToStatistics()">See all sessions</button>
            <button type="button" class="btn btn-primary" ng-click="redirectToUsersManager()">Users manager</button>
            <button type="button" class="btn btn-primary" ng-click="redirectToQuestionsManager()">Questions manager</button>
            <button type="button" class="btn btn-primary" ng-click="redirectToApplicationParameters()">Application parameters</button>
        </p>

    </div>
    <div class="toLeft">
        Logged as: ghgjgyjyujyu
    </div>
</div>