<div ng-init="init()" data-ng-form="addQuesForm" ng-class="{'submitted': submitted}" data-ng-submit="saveAsDesigner()">
    <div>
        <h3 align="center">Add question</h3>
        <div class="input-group margins25  mt-20">
            <span class="input-group-addon ">Question text: </span>
            <input id="questionText" type="text" class="form-control"
                   ng-model="questionText" name="questionText" placeholder="Please enter question text...">
        </div>

        <div class="input-group margins25 mt-20">
            <span class="input-group-addon ">Question type: </span>
            <label class="radio-inline marginL10" ng-repeat="type in questionTypeList">
                <input class="form-check-input" type="radio" name="inputQuestionType" value="{{type}}" id="inputQuestionType"
                       ng-click="setInputQuestionType(type)" data-ng-model="inputQuestionType" > {{type}}
            </label>
        </div>

        <div class="input-group margins25 mt-20">
            <span class="input-group-addon">Possible answers:</span>
            <input type="text" name="defaultAnswer" id="defaultAnswer" class="form-control"
                   placeholder="Please enter possible answers..."
                   ng-model="defaultAnswer" />
            <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" ng-click="addDefaultAnswer()"><i
                            class="glyphicon glyphicon-plus" ></i></button>
            </span>
        </div>
        <div class="input-group" style="margin-left: 165px" ng-if="isDuplicated()">
            <small class="form-text text-muted " ng-style="duplicateInfo">{{analyzeResult}}</small>
        </div>
        <div class="input-group form-group">
            <table class="table-striped maxTable mt-20 margins25">
                <tbody>
                <tr ng-repeat="answer in defaultAnswersList">
                    <td class="col-md-10">{{$index+1}}. {{answer}}</td>
                    <td class="col-md-2 toRight">
                        <button type="button" class="btn btn-default" ng-click="removeDefaultAnswer($index)"><i
                                class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div align="right" class="mb-20 mt-20 marginR25">
        <p class="lead">
            <button type="button" class="btn btn-primary" data-ng-click="cancel()">Close</button>
            <button type="submit" class="btn btn-success" ng-click="save();" ng-disabled="unableToCreateQuestion()">Add</button>
        </p>
    </div>
</div>
